body{
    padding: 20px;
    text-align: center;
    font-family: cursive;
}
button{
    padding: 30px;
    background: #c70b0b;
}
div{
    font-size: large;
    font-style:inherit;
    font-family: cursive;
}
img{
    border-color: #2bff00;
    border-radius: 20px;
    border-style: dashed;
    
    
}